<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects | Carlos Macaneta</title>
    <link
      rel="shortcut icon"
      href="../assets/img/favicon/cmj-favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />
    <link rel="stylesheet" href="../assets/css/projects.css" />
  </head>

  <body>
    <header class="header-bg">
      <div class="navbar navbar-expand bg-black-alpha-2">
        <div class="container">
          <a href="../index.html" class="navbar-brand"> Carlos Macaneta </a>

          <div class="navbar-menu">
            <a href="../index.html" class="nav-menu-item-link">Home</a>
            <a href="about.html" class="nav-menu-item-link">About</a>
            <a href="projects.html" class="nav-menu-item-link active"
              >Projects</a
            >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-5">
          <div class="col-9 text-white">
            <div class="row">
              <div class="col-2">
                <img
                  id="cv-img"
                  src="../assets/img/cmj.jpg"
                  alt="profile-image"
                />
              </div>

              <div class="col-7 cv-desc">
                <h2>Carlos Macaneta</h2>
                <p><span>Full Stack Developer</span></p>
                <ul>
                  <li>
                    <address>
                      <i
                        ><img
                          src="../assets/img/icons/marker.png"
                          alt="location"
                      /></i>
                      Maputo, Mozambique
                    </address>
                  </li>
                  <li>
                    <a href="mailto:carlosmacaneta@hotmail.com">
                      <img src="../assets/img/icons/email.png" alt="email" />
                      carlosmacaneta@hotmail.com
                    </a>
                  </li>
                  <li>
                    <a href="tel:+258842236551">
                      <img
                        src="../assets/img/icons/mobile.png"
                        alt="telephone"
                      />
                      +258842236551
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-3 text-white">
            <ul class="">
              <li>
                <a
                  href="https://www.linkedin.com/in/carlos-macaneta"
                  style="margin-right: 0.5rem"
                >
                  <i
                    ><img src="../assets/img/icons/linkedin.png" alt="Linkedin"
                  /></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/CarlosMacaneta">
                  <i
                    ><img src="../assets/img/icons/github.png" alt="GitHub"
                  /></i>
                </a>
              </li>
              <li>
                <a href="https://skye.com/CarlosMJ">
                  <i><img src="../assets/img/icons/skype.png" alt="Skype" /></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container" style="margin: 2rem auto">
        <div class="row">
          <div class="col-12">
            <h3>Projects</h3>
            <hr />
            <div class="row">
              <div class="col-7 proj">
                <figure>
                  <img src="../assets/img/proj1.png" alt="" />
                  <figcaption style="text-align: center">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ratione, placeat consectetur minima saepe ipsa libero odit
                    unde doloremque? Inventore voluptatibus consequatur
                    voluptatum officia autem sunt eveniet, esse officiis illo
                    animi!
                  </figcaption>
                </figure>
                <hr class="horizontal-separator" />
                <div class="row" style="margin-left: auto; margin-right: auto">
                  <div class="col-2 filled-rect-round">Java</div>
                  <div class="col-3 filled-rect-round">TypeScript</div>
                  <div class="col-2 filled-rect-round">HTML</div>
                  <div class="col-2 filled-rect-round">CSS</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-7 proj">
                    <figure>
                      <img
                        src="../assets/img/proj1.png"
                        alt=""
                        style="margin-left: auto"
                      />
                      <figcaption style="text-align: center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odit natus, eligendi eos voluptatum sint, quas quibusdam
                        nostrum ratione possimus obcaecati tenetur architecto
                        soluta doloribus iure, ipsum nobis recusandae optio
                        beatae.
                      </figcaption>
                    </figure>
                    <hr class="horizontal-separator" />
                    <div
                      class="row"
                      style="margin-left: auto; margin-right: auto"
                    >
                      <div class="col-2 filled-rect-round">Java</div>
                      <div class="col-3 filled-rect-round">JPA-Hibernate</div>
                      <div class="col-2 filled-rect-round">MySQL</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-7 proj">
                    <figure>
                      <img src="../assets/img/proj1.png" alt="" />
                      <figcaption style="text-align: center">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Quasi at, tempore delectus commodi quae porro
                        animi praesentium veritatis sit officiis explicabo et
                        pariatur corporis maiores sunt debitis nostrum adipisci
                        reiciendis.
                      </figcaption>
                    </figure>
                    <hr class="horizontal-separator" />
                    <div
                      class="row"
                      style="margin-left: auto; margin-right: auto"
                    >
                      <div class="col-2 filled-rect-round">PHP</div>
                      <div class="col-3 filled-rect-round">JavaScript</div>
                      <div class="col-2 filled-rect-round">HTML</div>
                      <div class="col-2 filled-rect-round">CSS</div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 0.5rem auto">
                  <div class="col-4">
                    <a
                      href="https://github.com/CarlosMacaneta?tab=repositories"
                      class="outline-button"
                      role="button"
                      >Find more...</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
